.allison_logo_other{
    width: 40%;
    grid-column: 1/4;
    grid-row: 1/2;
    margin-top: 10px;
    padding-top: 0px ;
    margin-right: auto;
    margin-left: auto;
}
#hamburger_id{
    width:100%;
    height: 100%;
}
.box_outline_photo{
    border: 1px solid var(--color-primary);
    width: 53%;
    height: 50px;
    z-index: 10;
    margin: -4px 0px 4px 0px;
    grid-row: 1/2;
    grid-row: 1/2;
    grid-column: 1/2;
    
}
.box_outline_grid{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 3%;
    min-width: 600px;
    
    
}
.down_button{
    width:25%;
    background-color: var(--color-);
    border: none; /* Removes the border */
    outline: none;

}
.arrow_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-accent);
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: -2;
    width: 52%;
    
}
.placeholder_h2{
    font-family: monotype-grotesque, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: var(--color-secondary);
    background-color: var(--color-accent);
    margin: 0px;
    padding: 2%;
    padding-left: 5%;
    text-transform: uppercase;
    grid-row: 1/2;
    grid-column: 1/2;
    padding: 12px;
    margin: 0px;
    
}
.photo_h3{
    font-family: monotype-grotesque, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: var(--color-primary);
    grid-row: 1/2;
    grid-column: 1/2;
    padding: 12px;
    margin: 0px;
    font-size: 100px;
    text-align: center;
}
.top_photo{
    width: 50%;
    margin: 2%;
}
.headshots{
    width: 50%;
    margin: 2%;
}
.travel{
    width: 50%;
    margin: 2%;
}

.event{
    width: 50%;
    margin: 2%;

}
.individual{
    width:50%;
    margin: 2%;
}
.group{
    width:50%;
    margin: 2%;
}
.sport{
    width:50%;
    margin: 2%;
}
